#header{
    margin-bottom: 50px;
}

#showAll-products{
    margin: auto;
    text-align: center;
}

#message-login{
    background-color: rgb(110, 128, 128);
    margin: auto;
    width: 70%;
    height: 500px;
}

.product-block{ 
    border: solid black 1px;
    padding: 5px 20px;
    display: inline-block;
    width: 500px;
}